@inherits LayoutComponentBase
<nav class="sidebar">
    <NavMenu>
        <NavLink href="/" Match="NavLinkMatch.All">Home</NavLink>
        <NavLink href="/calculator" Match="NavLinkMatch.All">Calculator</NavLink>
        <NavLink href="/ball-animation" Match="NavLinkMatch.All">Ball Animation</NavLink>
        <NavLink href="/local-storage" Match="NavLinkMatch.All">Local Storage</NavLink>
    </NavMenu>
</nav>

<main>
    @Body
</main>