<div class="@_className">
    <button class="toggle-icon" @onclick="@(ToggleNavMenu)">@_iconString</button>
    <div class="@_hidden">
        @ChildContent
    </div>
</div>

@code
{
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public bool? Mirror { get; set; }

    private string _hidden = "hidden";
    private string _className = "collapse";
    private string _iconString;
    
    public override async Task SetParametersAsync(ParameterView parameters)
    {
        if (parameters.TryGetValue<bool>(nameof(Mirror), out var value))
        {
            _iconString = value ? "⇤" : "⇥";
        }
        else
        {
            _iconString = "⇥";
        }

        await base.SetParametersAsync(parameters);
    }

    private void ToggleNavMenu()
    {
        _hidden = _hidden == "" ? "hidden" : "";
        _className = _className == "" ? "collapse" : "";
        _iconString = _iconString == "⇤" ? "⇥" : "⇤";
    }
}
