.calculator {
    margin: 5px auto auto auto;
    padding: 10px;
    background: #1780A1;
    border-radius: 4px;
    width: 488px;
}

p.result {
    padding:  10px;
    text-align: right;
    border: 1px solid black;
    border-radius: 4px;
    background: white;
}

p.input {
    padding: 10px;
    text-align: right;
    border: 1px solid black;
    border-radius: 4px;
    margin-top: 5px;
    background: white;
}

.buttons {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding-top: 10px;
}

.button-group {
    display: grid;
    grid-template-columns: repeat(3,70px);
    grid-template-rows: repeat(4, 70px);
    text-align: center;
    justify-content: center;
    align-content: center;
    gap: 4px;
}

.button-group button {
    border: 1px solid;
    border-radius: 4px;
    background: white;
}

.button-group button:disabled {
    border: 0;
    background: 0;
}

.history {
    width: 200px;
    background: #455E89;
    padding: 20px 20px;
    color: white;
}

.past {
    width: 200px;
    background: #2E6F95;
    padding: 20px 20px;
}

p.operand {
    margin: 0 0 0 10px;
}