summary, section {
    margin-bottom: 40px;
    background: #f0d1dd;
    border-radius: 10px;
    padding: 30px;
}

h1 {
    margin-bottom: 40px;
}

p {margin-bottom: 20px;}

p:last-child {
    margin-bottom: 0;
}

a.inline, a.inline:visited {
    color: var(--sidebar-button-link-hover-default);
    display: inline-block;
}

a.inline:hover, a.inline:active {
    color: var(--sidebar-button-link-active-alternate);
}

footer {
    width: 100%;
    text-align: center;
    margin-top: auto;
    padding-bottom: 40px;
}

