/*
My own reset css to simply solve problems I encounter
 */

*, *:before, *:after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    display: flex;
}

a, a:hover, a:active, a:visited {
    all: unset;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
}

img {
    display: block;
    object-fit: contain;
}

button {
    all: unset;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
}

button:disabled {
    cursor: auto;
}

p {
    line-height: 1.4;
}