@page "/"

<PageTitle>Home</PageTitle>
<div class="home-wrapper">
    <h1>Just Blazor things</h1>
    <summary>
        <p>This site documents my exploration into the things that can be accomplished with Blazor by Microsoft</p>
        <p>They have produced a version of their server-side web framework ASP.NET that can run entirely in the browser</p>
        <p>This creates the opportunity to run C# in the browser</p>
        <p>Who doesn't love a bit of C#?</p>
    </summary>
    
    <section>
        <p>Each page is a separate example of something that can be accomplished and an explanation if you click on the information icon in the top right</p>
        <p>You can find the entire site on <a class="inline" target="_blank" href="https://github.com/kunalpattni/blazor-sh-website">Github</a></p>
    </section>
    <footer>
        <a class="inline" href="mailto:kunal@kunalpattni.co.uk">kunal@kunalpattni.co.uk</a>
    </footer>
</div>

<HeadContent>
    <link rel="stylesheet" href="css/home.css" />
</HeadContent>