<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="@Assets["css/reset.css"]" />
    <link rel="stylesheet" href="@Assets["css/app.css"]" />
    <link rel="icon" type="image/png" href="@Assets["favicon.png"]" />
    <HeadOutlet @rendermode="InteractiveAuto"/>
    <ImportMap/>
</head>

<body>
<Routes @rendermode="InteractiveAuto"/>
<script>
    window.tti = performance.now();
    console.log(`Page Received (approx): ${window.tti} ms`);
</script>
<script src="_framework/blazor.web.js"></script>
</body>

</html>