@inherits LayoutComponentBase
<div class="page">
    <nav class="sidebar @NavMenuCssClass">
        <NavMenu />
    </nav>

    <main>
        @Body
    </main>
</div>

@code {
    private bool _collapseNavMenu = true;

    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
}