@inherits LayoutComponentBase
<nav class="sidebar @NavMenuCssClass">
    <NavMenu />
</nav>

<main>
    @Body
</main>

@code {
    private bool _collapseNavMenu = true;

    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
}